@model ReportedeTiempoMVC.Models.LoginViewModel

@{
    ViewData["Title"] = "Login Application";
}

<h3>Acceda a sus actividades</h3>

<div>
    <p>Ingrese su usuario y contraseña para continuar</p>
</div>

<div class="row">
    <div class="card-header">
        <form class="form-group" asp-action="Login" asp-controller="Login" method="post">
            <div class="form-group">
                <label class="col-sm-8">Ingrese su Usuario</label>
                <input class="col-8" type="email" name="usuario" />
            </div>
            <div class="form-group">
                <label class="col-sm-8">Ingrese su Contraseña</label>
                <input class="col-8" type="password" name="contraseña" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</div>
